/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/*================================CV-online=================================*/

//@import "compass/css3";
@import "../fontello/css/fontello.css";
@import "compass/reset";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/flexbox";

@import "compass/css3/images";

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700);
@mixin breakpoints ($break) {
  @if $break == phone { 
    @media (min-width: 30em) { @content; }
  }
  @if $break == tablet {
        @media (min-width: 48em) { @content; }
    }
    @if $break == laptop {
        @media (min-width: 60em) { @content; }
    }
    @if $break == desktop {
        @media (min-width: 80em) { @content; }
    }
    @if $break == print {
         @media print { @content; }
    }
    @else { 
      @media (min-width: $break) { @content; }
    }
}

@mixin fontello {
  font-family: "fontello";
  font-size: 2rem;
  color: $main-font-color;
  margin-right: 10px;
}

$main-font-color: #636363;
$second-font-color: #63B8FF;//#71a6d6;
$bg: #f1f1f1;//#275F6F;
$bg-main: #fdfdfd;// #f1f1f1;//lighten($bg, 20%);//#8dbac7;

/*===================diplomas-modal=======================*/

.myImg {
    @include border-radius(5px);
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
	@include animation-name(zoom);
	@include animation-duration(0.6s);
}

@-webkit-keyframes zoom {
    from {@include scale(0);}
    to {@include scale(1);}
}

@keyframes zoom {
    from {@include scale(0);}
    to {@include scale(1);}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*===============================TYPOGRAPHY==================================*/

html {
  font-size: 62.5%;
  @media print {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    color:black;
  }
}

body {
  font-family: "Lato, sans-serif";
  font-size: 1.4rem;
  color: $main-font-color;
}

a {
  color: rgb(0, 132, 137);
  text-decoration: none;
  font-size: 1.4rem;
  &:hover {
    color: red;
  }
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  padding: 20px 0;
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
  @media print {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 2rem;
  color: $second-font-color;
  padding-bottom: 10px;
}

h4 {
  font-size: 1.8rem;
}

li {
  margin-bottom: 10px;
}

p {
  margin-right: 30px;
  padding: 10px 0 10px 10px;
  font-size: 1.6rem;
  border-left: 1px dotted #4f4a41;
  text-align: justify; 
}
time {
  font-weight: bold;
}

@media print {
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  } 
}

#content {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;
  max-width: 1000px;
  @media (min-width: 48em) { 
    @include flex-direction(row);
    margin: auto;
  }
  @media print {
    @include flex-direction(row);
  }
}
.section-header {   
  @include display-flex;
  @include align-items(center);
  margin-bottom: 15px;
  text-align: center; 
  font-weight: bold;  
  &:after,
  &:before {
    content: "";
    border: solid 1px rgba(99,99,99,0.2);
     @include flex(1);
  }
  &:before {
    margin-right: 5%;
  }
  &:after {
    margin-left: 5%;
  }
}
/*============================aside======================================*/
aside { 
  padding: 25px 25px 0;
  background-color: $bg;
  border-right: solid 1px rgba(99,99,99,0.2);
  @media (min-width: 48em) { 
    width: 30%;
  }
  @media print {
    width: 30%;  
    margin: 0; 
    padding-left: 0;
  }
}

.aside__header {
  margin: 20px 0 30px 0;
  text-align: center;
 .profile-photo {
    width: 158px;
    height: 158px;
    @include border-radius(50%);
    display: block;
    margin: auto;
    border: solid 1px rgba(99,99,99,0.2);
    padding: 8px;
    @media print {
      max-width:100%;
    }
  }
  .header__subheader {
    text-transform: uppercase;
  }
}

.aside__section {
  margin-bottom: 40px;
  @media print {
    margin-bottom: 15px;
  }
}


.contact {
  position: relative;
  .phone {     
    &:before  {
      content:'\e800';
      @include fontello;
    }
  }
  .birth {     
    &:before {
      content:'\e802';
      @include fontello;
    }
  }
  .email {     
    &:before {
      content:'\e808';
      @include fontello;
    }
  }  
}

.interests {
  text-align: center;
  li {
    display: inline-block;
  }
  
  .travel {     
    &:before {
      content:'\e805';
      @include fontello;
    }
  } 
  .game {     
    &:before {
      content:'\f11b';
      @include fontello;
    }
  } 
  .volleyball {     
    &:before {
      content:'\f1e3';
      @include fontello;
    }
  } 
  .tennis {     
    &:before {
      content:'\e839';
      @include fontello;
    }
  } 
  .biking {     
    &:before {
      content:'\f206';
      @include fontello;
    }
  } 
  .skiing {     
    &:before {
      content:'\e836';
      @include fontello;
    }
  } 
}
.attachments {
  .recomend {
    &:before {
      content:'\e800';
      @include fontello;
    }
  }
  .diplomas {
    &:before {
      content:'\e800';
      @include fontello;
    }
  }
}
.magic-websites {
  &:before {
    content:'\e807';
    @include fontello;
  }
}
.github {
  &:before {
    content:'\e806';
    @include fontello;
  }
}


/*============================main======================================*/

main {
  position: relative;
  padding: 30px 30px 100px;
  background: $bg-main;
  @media (min-width: 48em) { 
    padding: 50px;
    width: 68%;
  }
  @media print {
    width: 70%; 
    margin: 0; 
    padding-right: 0;
  }
}

$bg-main: #fdfdfd;// #f1f1f1;//lighten($bg, 20%);//#8dbac7;


$textShadow: rgba(black, 0.35) 1px 1px 1px;

.skills {
  position: relative;
  @media print {
    margin: 20px;
  }
}
.progress--circle {
  position: relative;
  display: inline-block;
  margin: 1.5rem;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: $bg;
  @media print {
    margin: 0 10px 0 0;
    width: 100px;
    height: 30px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    @media print {
      display: none;
    }
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    //background-color: red;
    @media print {
      display: none;
    }
  }
}

$step: 5;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress--bar.progress--#{$i * $step}:after {
    width: $i * $step * 1%;
  }
  .progress--circle.progress--#{$i * $step}:after {
    @if $i < $half {
      $nextDeg: 90deg + ($increment * $i);
      @include background(linear-gradient(90deg, $bg 50%, transparent 50%, transparent), linear-gradient($nextDeg, $second-font-color 50%, $bg 50%, $bg));
    }
    @else {
      $nextDeg: -90deg + ($increment * ($i - $half));
      @include background(linear-gradient($nextDeg, $second-font-color 50%, transparent 50%, transparent), linear-gradient(270deg, $second-font-color 50%, $bg 50%, $bg));
    }
  }
}
.progress__number {
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  margin-top: -0.75rem;
  text-align: center;
  font-size: 1.5rem;
  color: main-font-color;

}
.section-content {
  padding-bottom: 20px;
}
.main-footer  {
  position: absolute;
  bottom: 10px;
}
/*============================print-button=================================*/

.button-circle {
  display: none;
  width: 80px; 
  height: 80px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 15px;
  @include border-radius(100%);
  float: left;
  @media (min-width: 48em) { 
    display: block;
  }
}

.button {
  width: 74px; 
  height: 74px;
  position: absolute;
  top: 3px;
  left: 3px;
  @include border-radius(100%);
  background: #ffffff;
  font-size: 1.2em;
  text-align: center;
  color: $main-font-color;  
  &:before {
      content:'\e803';
      position: relative;
      top: 18px;
      font-size: 3.5rem;
      font-family: "fontello";
    }         
}

.gradient, .gradient:after { 
  display: block;
  content: "";
  width: 400px; height: 80px;
  @include background(linear-gradient(135deg,  #bd328f 0%,#bd328f 18%,#2976ab 42%,#292f75 62%,#bd328f 82%,#bd328f 100%));
  background: #bd328f;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#bd328f), color-stop(18%,#bd328f), color-stop(42%,#2976ab), color-stop(62%,#292f75), color-stop(82%,#bd328f), color-stop(100%,#bd328f));
}

.gradient {
  @include animation(8s anim linear infinite);
  &:after {
	@include translateX(400px);
  }
}
@keyframes anim {
  0% {@include translateX(0);}
  100% {@include translateX(-400px);}
}

/*============================awards=================================*/

.awards-list {
  li {
    display: inline-block;
  }
}