/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*================================CV-online===================
1. typography
=====================================================*/
@import url(../fontello/css/fontello.css);
/* line 5, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*===================diplomas-modal=======================*/
/* line 53, ../sass/screen.scss */
.myImg {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* line 59, ../sass/screen.scss */
.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
/* line 62, ../sass/screen.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
/* line 77, ../sass/screen.scss */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
/* line 85, ../sass/screen.scss */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
/* line 97, ../sass/screen.scss */
.modal-content, #caption {
  -moz-animation-name: zoom;
  -webkit-animation-name: zoom;
  animation-name: zoom;
  -moz-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zoom {
  from {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* The Close Button */
/* line 113, ../sass/screen.scss */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* line 123, ../sass/screen.scss */
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  /* line 132, ../sass/screen.scss */
  .modal-content {
    width: 100%;
  }
}
/*===================TYPOGRAPHY=======================*/
/* line 138, ../sass/screen.scss */
html {
  font-size: 62.5%;
}
@media print {
  /* line 138, ../sass/screen.scss */
  html {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    color: black;
  }
}

/* line 146, ../sass/screen.scss */
body {
  font-family: "Lato, sans-serif";
  font-size: 1.4rem;
  color: #636363;
}

/* line 152, ../sass/screen.scss */
a {
  color: #008489;
  text-decoration: none;
  font-size: 1.4rem;
}
/* line 156, ../sass/screen.scss */
a:hover {
  color: red;
}

/* line 161, ../sass/screen.scss */
h1, h2 {
  text-transform: uppercase;
}

/* line 165, ../sass/screen.scss */
h1 {
  padding: 20px 0;
  font-size: 3rem;
}

/* line 170, ../sass/screen.scss */
h2 {
  font-size: 2.2rem;
}
@media print {
  /* line 170, ../sass/screen.scss */
  h2 {
    font-size: 1.6rem;
  }
}

/* line 177, ../sass/screen.scss */
h3 {
  font-size: 2rem;
  color: #71a6d6;
  padding-bottom: 10px;
}

/* line 183, ../sass/screen.scss */
h4 {
  font-size: 1.8rem;
}

/* line 187, ../sass/screen.scss */
li {
  margin-bottom: 10px;
}

/* line 191, ../sass/screen.scss */
p {
  margin-right: 30px;
  padding: 10px 0 10px 10px;
  font-size: 1.6rem;
  border-left: 1px dotted #4f4a41;
  text-align: justify;
}

/* line 198, ../sass/screen.scss */
time {
  font-weight: bold;
}

@media print {
  /*linki*/
  /* line 204, ../sass/screen.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /*js linki*/
  /* line 208, ../sass/screen.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
}
/* line 214, ../sass/screen.scss */
#content {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1000px;
}
@media (min-width: 48em) {
  /* line 214, ../sass/screen.scss */
  #content {
    flex-direction: row;
    margin: auto;
  }
}
@media print {
  /* line 214, ../sass/screen.scss */
  #content {
    flex-direction: row;
  }
}

/* line 227, ../sass/screen.scss */
.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}
/* line 233, ../sass/screen.scss */
.section-header:after, .section-header:before {
  content: "";
  border: solid 1px rgba(99, 99, 99, 0.2);
  flex: 1;
}
/* line 239, ../sass/screen.scss */
.section-header:before {
  margin-right: 5%;
}
/* line 242, ../sass/screen.scss */
.section-header:after {
  margin-left: 5%;
}

/*============================aside======================================*/
/* line 247, ../sass/screen.scss */
aside {
  padding: 25px 25px 0;
  background-color: #f1f1f1;
  border-right: solid 1px rgba(99, 99, 99, 0.2);
}
@media (min-width: 48em) {
  /* line 247, ../sass/screen.scss */
  aside {
    width: 30%;
  }
}
@media print {
  /* line 247, ../sass/screen.scss */
  aside {
    width: 30%;
    margin: 0;
    padding-left: 0;
  }
}

/* line 261, ../sass/screen.scss */
.aside__header {
  margin: 20px 0 30px 0;
  text-align: center;
}
/* line 264, ../sass/screen.scss */
.aside__header .profile-photo {
  width: 158px;
  height: 158px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: solid 1px rgba(99, 99, 99, 0.2);
  padding: 8px;
}
@media print {
  /* line 264, ../sass/screen.scss */
  .aside__header .profile-photo {
    max-width: 100%;
  }
}
/* line 276, ../sass/screen.scss */
.aside__header .header__subheader {
  text-transform: uppercase;
}

/* line 281, ../sass/screen.scss */
.aside__section {
  margin-bottom: 40px;
}
@media print {
  /* line 281, ../sass/screen.scss */
  .aside__section {
    margin-bottom: 15px;
  }
}

/* line 289, ../sass/screen.scss */
.contact {
  position: relative;
}
/* line 292, ../sass/screen.scss */
.contact .phone:before {
  content: '\e800';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}
/* line 298, ../sass/screen.scss */
.contact .birth:before {
  content: '\e802';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}
/* line 304, ../sass/screen.scss */
.contact .email:before {
  content: '\e808';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}

/* line 311, ../sass/screen.scss */
.interests {
  text-align: center;
}
/* line 313, ../sass/screen.scss */
.interests li {
  display: inline-block;
}
/* line 318, ../sass/screen.scss */
.interests .travel:before {
  content: '\e805';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}
/* line 324, ../sass/screen.scss */
.interests .game:before {
  content: '\f11b';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}
/* line 330, ../sass/screen.scss */
.interests .volleyball:before {
  content: '\f1e3';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}
/* line 336, ../sass/screen.scss */
.interests .tennis:before {
  content: '\e839';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}
/* line 342, ../sass/screen.scss */
.interests .biking:before {
  content: '\f206';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}
/* line 348, ../sass/screen.scss */
.interests .skiing:before {
  content: '\e836';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}

/* line 356, ../sass/screen.scss */
.attachments .recomend:before {
  content: '\e800';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}
/* line 362, ../sass/screen.scss */
.attachments .diplomas:before {
  content: '\e800';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}

/* line 369, ../sass/screen.scss */
.magic-websites:before {
  content: '\e807';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}

/* line 375, ../sass/screen.scss */
.github:before {
  content: '\e806';
  font-family: "fontello";
  font-size: 2rem;
  color: #636363;
  margin-right: 10px;
}

/*============================main======================================*/
/* line 384, ../sass/screen.scss */
main {
  position: relative;
  padding: 30px 30px 100px;
  background: #fdfdfd;
}
@media (min-width: 48em) {
  /* line 384, ../sass/screen.scss */
  main {
    padding: 50px;
    width: 68%;
  }
}
@media print {
  /* line 384, ../sass/screen.scss */
  main {
    width: 70%;
    margin: 0;
    padding-right: 0;
  }
}

/* line 398, ../sass/screen.scss */
.section-content {
  padding-bottom: 20px;
}

/* line 401, ../sass/screen.scss */
.main-footer {
  position: absolute;
  bottom: 10px;
}

/*============================print-button=================================*/
/* line 407, ../sass/screen.scss */
.button-circle {
  display: none;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 15px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  float: left;
}
@media (min-width: 48em) {
  /* line 407, ../sass/screen.scss */
  .button-circle {
    display: block;
  }
}

/* line 422, ../sass/screen.scss */
.button {
  width: 74px;
  height: 74px;
  position: absolute;
  top: 3px;
  left: 3px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #ffffff;
  font-size: 1.2em;
  text-align: center;
  color: #636363;
}
/* line 435, ../sass/screen.scss */
.button:before {
  content: '\e803';
  position: relative;
  top: 18px;
  font-size: 3.5rem;
  font-family: "fontello";
}

/* line 444, ../sass/screen.scss */
.gradient, .gradient:after {
  display: block;
  content: "";
  width: 400px;
  height: 80px;
  background: #bd328f;
  background: -moz-linear-gradient(-45deg, #bd328f 0%, #bd328f 18%, #2976ab 42%, #292f75 62%, #bd328f 82%, #bd328f 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #bd328f), color-stop(18%, #bd328f), color-stop(42%, #2976ab), color-stop(62%, #292f75), color-stop(82%, #bd328f), color-stop(100%, #bd328f));
  background: -webkit-linear-gradient(-45deg, #bd328f 0%, #bd328f 18%, #2976ab 42%, #292f75 62%, #bd328f 82%, #bd328f 100%);
  background: -o-linear-gradient(-45deg, #bd328f 0%, #bd328f 18%, #2976ab 42%, #292f75 62%, #bd328f 82%, #bd328f 100%);
  background: -ms-linear-gradient(-45deg, #bd328f 0%, #bd328f 18%, #2976ab 42%, #292f75 62%, #bd328f 82%, #bd328f 100%);
  background: linear-gradient(135deg, #bd328f 0%, #bd328f 18%, #2976ab 42%, #292f75 62%, #bd328f 82%, #bd328f 100%);
}

/* line 458, ../sass/screen.scss */
.gradient {
  -moz-animation: 8s anim linear infinite;
  -webkit-animation: 8s anim linear infinite;
  animation: 8s anim linear infinite;
}

/* line 462, ../sass/screen.scss */
.gradient:after {
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  -webkit-transform: translateX(400px);
  transform: translateX(400px);
}

@keyframes anim {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
}
/*============================awards=================================*/
/* line 474, ../sass/screen.scss */
.awards-list li {
  display: inline-block;
}
